/* CSS BY Meseret Haile */
/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root{
}

body{
 
    background-color: #f7e6ca;
    min-width: 1280px;
    line-height: 1.5;
    
}
img {
    width: 100%;
}

/* Header Style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5c080;
    position: sticky;
    top: 0;
    z-index: 1000;

}
header img{
    border-radius: 100%;
    width: 5%;

}

h1{
    font-family: "Luxurious Script";
    font-size: 80px;
    margin-left: 0;
    padding: 5px;
}

nav ul{
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    font-family: "kavoon", sans-serif;
    color: var(--dk-gray);
    font-size: 16px;
}

nav a:hover{
    color: var(--pink)
}

.slogan{
    width: 100%;
    background:
    linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)),
    url("images/wedding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
h2{
    font-size: 3rem;
}

.slogan > h2{
    font-size:60px;
    color:rgb(227, 215, 154);
    text-align:center;
    padding: 25px 40px;
}

.about{
    padding: 50px 40px;
    text-align: center;
}

.about h2{
    font-family:"Kavoon", serif;
    font-size: 36px;
    margin-bottom: 30px;
}


.about p{
    max-width: 1000px;  
    margin: 0 auto;    
    font-family:"Inter", sans-serif;
    font-size:1.5rem;

    color:#333;

   
    padding:40px;
}

.services{
    padding: 80px 20px;
    text-align: center;
}

.services h3{
    font-family: "Luxurious Script", serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.serviceList{
    display: none;
   
    border-radius: 20px;
    
}

.serviceList.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    column-gap: 10px;
    align-items: stretch;
}

.serviceList.active section{
    background-color: white;
    padding: 25px;
    border-radius: 18px;
}

.serviceList img{
    width: 80%;
    height: 500px;
    object-fit: cover;
    justify-self:center;
}

.serviceText{
    text-align: left;
    
}

.serviceText p{
    font-weight: bold;
    font: 100px;
}

.serviceText ul{
    padding-left: 18px;
    line-height: 1.8;
}

.serviceLink{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto ;
}

.tab{
    text-decoration: none;
    font-family:"Inter", sans-serif;
    font-size: 16px;
    color: black;
    padding-bottom: 8px;
    position: relative;
}

.tab:hover{
    opacity: 0.7;
}

.tab.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #1e1e1e;
}




