/* CSS BY Meseret Haile */
/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root{
    --bg-color: #f7e6ca;
    --header-bg: #e5c080;
    --var-lcream:#FFEAAB;
    --var-coff: #8A5E10;
    --var-gold: #DAA520;
    --var-pepper: #FFB248;
    

}

body.dark{
    --bg-color: #0f1720;
    --text-color: #f5f5f5;
    --header-bg: #121a24;
    --card-bg: #1b2633;
    --accent: #ff7a95;
}

body{
    background-color: var(--bg-color);
    min-width: 1280px;
    line-height: 1.5;   
}

img {
    width: 100%;
}

/* Header Style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    z-index: 1000;

}

header img{
    border-radius: 100%;
    width: 5%;
}

h1{
    font-family: "Luxurious Script";
    font-size: 80px;
    margin-left: 0;
    padding: 5px;
}

nav ul{
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    font-family: "kavoon", sans-serif;
    color: var(--dk-gray);
    font-size: 16px;
}

nav a:hover{
    color: var(--)
}

.themeBtn{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
    margin-left:10px;
    transition:0.3s;
  }
  
  .themeBtn:hover{
    transform:scale(1.2);
  }

.slogan{
    width: 100%;
    background:
    linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)),
    url("images/wedding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

h2{
    font-size: 3rem;
}

.slogan h2{
    font-size:60px;
    color:rgb(227, 215, 154);
    text-align:center;
    padding: 25px 40px;
   
}

.about{
    padding-top: 50px;
    text-align: center;
   
}

.about h2{
    font-family:"Lora", serif;
    font-size: 36px;
    
}


.about > p{
    max-width: 900px;  
    margin: 0 auto;    
    font-family: "Lora", serif;
    font-size:1.5rem;
    color:#333;
    padding:30px;
}
.about p:nth-of-type(2){
    font-weight: bold;
    font-size: 2.5rem;
    color: #96640e;

}
.services{
    padding: 40px 20px;
    text-align: center;
}

.services h3{
    font-family: "Lora", serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.serviceList{
    display: none;
    border-radius: 20px;
    
}

.serviceList.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    column-gap: 10px;
    align-items: stretch;
}


.serviceList img{
    width: 80%;
    height: 500px;
    object-fit: cover;
    justify-self:center;
}

.serviceText{
    text-align: left;

    
}

.serviceText p{
    font-weight: bold;
    font-size: 1.5rem;
}

.serviceText ul{
    padding-left: 18px;
    line-height: 2.5;
}
.serviceText ul li{
    font-size: 1.25rem;
}

.serviceLink{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto ;
}

.tab{
    text-decoration: none;
    font-family:"Inter", sans-serif;
    font-size: 16px;
    color: black;
    padding-bottom: 8px;
    position: relative;
}

.tab:hover{
    opacity: 0.7;
}

.tab.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #1e1e1e;
}

.playGame{
    background: #af8a4d;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.playGame p{
    font-size: 28px;
    margin-bottom: 5px;
}

.playGame h2{
    font-size: 36px;
    margin-bottom: 25px;
}

.playGame form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.playGame label{
    font-weight: bold;
}

.playGame input{
    padding:10px;
    width:220px;
    border-radius:6px;
    border:none;
    margin-top:10px;
}

.playGame button{
    padding:10px 18px;
    background:#d9526f;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
  }


.quoteSection{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quoteSection h2{
    font-family: "Kavoon", serif;
    color: var(--var-gold);
    font-size: 35px;
    text-align: center;
    margin-bottom: 8px;
}

.quoteCard{
    width: 500px;
    background: white;
    padding: 50px 45px;
    border-radius: 16px;
    text-align: center;
}

.quoteLogo{
    width: 150px;
    height: auto;
    margin-bottom: 18px;
}

.quoteSection p{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 25px;
}

.quoteForm{
    text-align: left;
}

.quoteForm label{
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    margin-top: 18px;
    margin-bottom: 8px;
}

.quoteForm input,
.quoteForm textarea{
    border: 2px solid var(--var-gold);
    border-radius: 8px;
    margin-top: 6px;
    resize: vertical;
    width: 90%;
    font-size: 1.5rem;
}





fieldset label{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
    margin-top: 0;
}
form button:last-of-type{
    display: block;
    color:#f5f5f5;
    background-color: #8A5E10;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Lora", serif;
    
}
form button:last-of-type:hover{
    background-color: #DAA520;
}
    

