/* CSS BY Meseret Haile */
/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root{
    --bg-color: #f7e6ca;

    --header-bg: #e5c080;

    --bg-offwhite: #fffbf4;

    --bg-lcream:#FFEAAB;
    --bg-coff: #8A5E10;
    --bg-gold: #DAA520;
    
    --bg-bwm: #af8a4d;
    --dk-gry: #464646;

    

}

body.dark{
    --dkh-color: #fffbf4;
    --dkat-white: #FFFDD0;
    --dk-bg: #1A1A1A;
    --dk-bg:#402b26;
    --dk: #ff7a95;
    --coff: #6f4e37;
}

body{
    width: 1280px;
    line-height: 1.5;  
    margin: 0 auto; 
}

img {
    width: 100%;
}
main {
    background-color: var(--bg-color);
}

/* Header Style */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    z-index: 1000;

}

header img{
    
    width: 25px;
}

h1{
    font-family: "Luxurious Script";
    font-size: 70px;
    margin-left: 0;
    padding: 5px;
    color: var(--dk-gry);
}

nav ul{
    display: flex;
    gap: 100px;
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    font-family: "kavoon", sans-serif;
    color: var(--dk-gry);
    font-size: 1.2rem;
}

nav a:hover{
    color: var(--var-coff)
}

.slogan{
    width: 100%;
    background:
    linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)),
    url("images/wedding.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

h2{
    font-size: 3rem;
}

.slogan h2{
    font-size:60px;
    color:rgb(227, 215, 154);
    text-align:center;
    padding: 25px 40px;
   
}
main section:nth-of-type(2){
    width: 90%;
    margin: 0 auto;
}

.about{
    padding-top: 50px;
    text-align: center;
   
}

.about h2{
    font-family:"Lora", serif;
    font-size: 36px;
    
}


.about > p{
    max-width: 900px;  
    margin: 0 auto;    
    font-family: "Lora", serif;
    font-size: 1.5rem;
    padding: 30px;
    color: var(--dk-gry);
}
.about p:nth-of-type(2){
    font-weight: bold;
    font-size: 2rem;
    color: var(--bg-bwm);

}
.services{
    padding: 40px 20px;
    text-align: center;
    background-color: var(--bg-offwhite);
    border-radius: 8px;
}

.services h3{
    font-family: "Lora", serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.serviceList{
    display: none;
    
    
}

.serviceList.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    column-gap: 10px;
    align-items: stretch;
    background-color: var(--bg-offwhite);
}


.serviceList img{
    width: 80%;
    height: 500px;
    object-fit: cover;
    justify-self:center;
    
}

.serviceText p{
   color: var(--bg-coff);
    font-size: 2rem;
}

.serviceText ul{
    padding-left: 18px;
    line-height: 2.5;
}
.serviceText ul li{
    font-size: 1.25rem;
}

.serviceLink{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto ;
    
   
}
.serviceLink a{
    font-size: 1.25rem;
}
.serviceLink a:hover{
    text-decoration: underline;
}
hr{
    height:3px;
    background-color: var(--bg-color);
    border: none;
    width: 70%

}
.tab{
    text-decoration: none;
    font-family:"Inter", sans-serif;
    font-size: 16px;
    color: black;
    padding-bottom: 8px;
    position: relative;
}

.tab:hover{
    opacity: 0.7;
}

.playGame{
    background: var(--bg-bwm);
    padding: 60px 20px;
    text-align: center;
    color: var(--bg-offwhite);
}

.playGame p{
    font-size: 28px;
    margin-bottom: 5px;
}

.playGame h2{
    font-size: 36px;
    margin-bottom: 25px;
    color: var(--dk-gry);
}

.playGame form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.playGame label{
    font-weight: bold;
    font-size: 1.5rem;
}

.playGame input{
    padding:10px;
    width:220px;
    border-radius:6px;
    border:none;
    margin-top:10px;
}

.quoteSection{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quoteSection h2{
    font-family: "Kavoon", serif;
    color: var(--bg-gold);
    font-size: 35px;
    text-align: center;
    margin-bottom: 8px;
}

.quoteCard{
    width: 500px;
    background-color: var(--bg-offwhite);
    padding: 50px 45px;
    border-radius: 16px;
    text-align: center;
}

.quoteLogo{
    width: 150px;
    height: auto;
    margin-bottom: 18px;
}

.quoteSection p{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 25px;
}

#quoteForm{
    text-align: left;
}

#quoteForm label{
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    margin-top: 18px;
    margin-bottom: 8px;
}

#quoteForm input,
#quoteForm textarea{
    border: 2px solid var(--bg-gold);
    border-radius: 8px;
    margin-top: 6px;
    resize: vertical;
    width: 90%;
    font-size: 1.5rem;
}

fieldset label{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
    margin-top: 0;
}

form button{
    display: block;
    color: var(--bg-offwhite);
    border:none;
    background-color: var(--bg-coff);
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Lora", serif;
   
}

form button:hover{
    background-color: var(--bg-gold);
}
fieldset{
    border: 2px solid var(--bg-coff);
    padding: 5px;
    display: flex;
}

legend{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
}
fieldset label{
    font-size: 3rem;
}
span{
    color:red;
}
.hide{
    display:none;
}


.eMessage{
    display: none;
    color: orangered;
    font-size: 1.2em;
    margin: 0.25em 0;
    font-weight: bold;
}

.error{
    display: block;
}

#success{
	box-shadow: none;
	border: none;
}

#success.hide{
  display: none;
}

#success.show{
  display: block;
}

footer{
    background-color: var(--header-bg);
    padding: 20px;
    text-align: center;
    
}
footer img{
    width: 35px;
}

    

